version: '3.9'

services:
  node-app:
    build: .
    container_name: node_app_container
    ports:
      - "3003:3000"
    restart: always
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
